@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 3.7333333333vw;
  scroll-behavior: smooth;
}
@media only screen and (min-width: 375px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: "Open Sans", sans-serif;
}

h1, h2 {
  font-family: "Poppins", sans-serif;
}

main {
  color: #00252e;
}

.button--get-started, .form form button, header button {
  border: none;
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  cursor: pointer;
  transition: background-color 400ms, color 400ms;
}

footer::before, section.growth::before, section.growth::after, section.users::before, section.users::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
}

header {
  padding: 2.5rem 2rem 8rem;
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  header {
    padding: 4rem 4rem 8rem;
  }
}
header > div {
  width: 100%;
  max-width: 40rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  header > div {
    max-width: 50rem;
  }
}
@media only screen and (min-width: 1024px) {
  header > div {
    max-width: 64rem;
  }
}
@media only screen and (min-width: 1440px) {
  header > div {
    max-width: 70rem;
  }
}
header .logo-wrapper {
  width: 8rem;
}
header .logo-wrapper:focus-visible {
  outline: 0.1rem dashed #00252e;
}
header .logo-wrapper img {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  header .logo-wrapper {
    width: 10rem;
  }
}
header button {
  width: 7rem;
  background-color: transparent;
  border: 0.05rem solid #ff52bf;
  color: #ff52bf;
  height: 2rem;
  border-radius: 1rem;
}
header button:hover, header button:focus-visible {
  outline: none;
  background-color: #ff52bf;
  color: white;
}
@media only screen and (min-width: 1024px) {
  header button {
    width: 8rem;
    height: 2.2rem;
    border-radius: 1.1rem;
  }
}

main h2 {
  margin-bottom: 1rem;
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  main h2 {
    font-size: 2.1rem;
  }
}
main p {
  max-width: 30rem;
  margin: 0 auto;
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  main p {
    max-width: 28rem;
    text-align: left;
  }
}
@media only screen and (min-width: 1440px) {
  main p {
    max-width: 32rem;
  }
}
main div.get-started {
  padding: 2rem 2.4rem 10rem;
}
main div.get-started h2 {
  font-size: 1.8rem;
}
@media only screen and (min-width: 1024px) {
  main div.get-started h2 {
    font-size: 2.1rem;
  }
}
main div.get-started button {
  margin-top: 1.5rem;
}

section.community {
  padding: 0 2.4rem;
}
section.community h1 {
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  section.community h1 {
    font-size: 2.4rem;
  }
}
@media only screen and (min-width: 1440px) {
  section.community h1 {
    font-size: 2.5rem;
  }
}
section.community p {
  text-align: center;
  max-width: 30rem;
}
section.community button {
  margin-top: 3rem;
}
section.community .img-wrapper {
  width: 96%;
  max-width: 30rem;
  margin: 6rem auto 8rem;
}
section.community .img-wrapper img {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  section.community .img-wrapper {
    max-width: 36rem;
    margin: 4rem auto 7rem;
  }
}
@media only screen and (min-width: 1024px) {
  section.community .img-wrapper {
    max-width: 42rem;
  }
}
@media only screen and (min-width: 1440px) {
  section.community .img-wrapper {
    max-width: 48rem;
  }
}
section.community .stats {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  section.community .stats {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
section.community .communities-stats, section.community .messages-stats {
  display: inline-block;
  position: relative;
  padding-bottom: 7rem;
  margin: 0 4rem;
}
@media only screen and (min-width: 1024px) {
  section.community .communities-stats, section.community .messages-stats {
    margin: 0 6rem;
  }
}
@media only screen and (min-width: 1440px) {
  section.community .communities-stats, section.community .messages-stats {
    margin: 0 8rem;
  }
}
section.community .communities-stats img, section.community .messages-stats img {
  position: absolute;
  width: 1.75rem;
  top: -1.25rem;
  left: 0;
}
section.community .communities-stats__number, section.community .messages-stats__number {
  display: block;
  font-size: 3.75rem;
  font-weight: bold;
}
section.community .communities-stats__label, section.community .messages-stats__label {
  color: gray;
}
@media only screen and (min-width: 768px) {
  section.community .communities-stats img, section.community .messages-stats img {
    width: 2.25rem;
    top: -1.75rem;
  }
  section.community .communities-stats__number, section.community .messages-stats__number {
    font-size: 4.5rem;
  }
  section.community .communities-stats__label, section.community .messages-stats__label {
    font-size: 1.125rem;
  }
}
section.community .communities-stats img {
  width: 2.25rem;
  top: -1.75rem;
}
section.community .communities-stats__number {
  font-size: 4.5rem;
}
section.community .communities-stats__label {
  font-size: 1.125rem;
}

section.growth {
  margin: 3rem 0 10rem;
  background-color: #f5faff;
  position: relative;
}
@media only screen and (min-width: 1024px) {
  section.growth {
    margin-top: 8rem;
  }
}
section.growth::before {
  height: 9rem;
  top: -8rem;
  background: url("../../assets/images/bg-section-top-mobile-1.svg") no-repeat left top;
  background-size: 100% 100%;
}
@media only screen and (min-width: 1024px) {
  section.growth::before {
    background: url("../../assets/images/bg-section-top-desktop-1.svg") no-repeat left top;
    background-size: 100% 100%;
  }
}
section.growth::after {
  height: 4rem;
  bottom: -3rem;
  background: url("../../assets/images/bg-section-bottom-mobile-1.svg") no-repeat left bottom;
  background-size: 100% 100%;
}
@media only screen and (min-width: 1024px) {
  section.growth::after {
    height: 7rem;
    bottom: -6rem;
    background: url("../../assets/images/bg-section-bottom-desktop-1.svg") no-repeat left top;
    background-size: 100% 100%;
  }
}
section.growth .growth-content {
  padding: 25rem 2.4rem 4rem;
  background: url("../../assets/images/illustration-grow-together.svg") no-repeat center 4rem;
  background-size: 20rem;
}
@media only screen and (min-width: 1024px) {
  section.growth .growth-content {
    padding: 12rem 4rem 8rem;
    background-position: right 4rem center;
    background-size: 25rem;
    max-width: 64rem;
    margin: 0 auto;
  }
  section.growth .growth-content h2 {
    text-align: left;
  }
  section.growth .growth-content p {
    display: inline-block;
  }
}
@media only screen and (min-width: 1440px) {
  section.growth .growth-content {
    max-width: 70rem;
    background-size: 28rem;
  }
}

section.conversations {
  margin-bottom: 10rem;
  padding: 21rem 2.4rem 4rem;
  background: url("../../assets/images/illustration-flowing-conversation.svg") no-repeat center 2rem;
  background-size: 20rem;
}
@media only screen and (min-width: 1024px) {
  section.conversations {
    padding: 10rem 4rem;
    background-position: 4rem center;
    background-size: 25rem;
    max-width: 64rem;
    margin: 0 auto;
    text-align: right;
  }
  section.conversations .conversations-content {
    display: inline-block;
  }
  section.conversations .conversations-content h2 {
    text-align: left;
  }
}
@media only screen and (min-width: 1440px) {
  section.conversations {
    max-width: 70rem;
    background-size: 28rem;
    padding-top: 14rem;
    padding-bottom: 14rem;
  }
}

section.users {
  margin: 12rem 0 10rem;
  background-color: #f5faff;
  position: relative;
}
@media only screen and (min-width: 1024px) {
  section.users {
    margin-top: 8rem;
  }
}
section.users::before {
  height: 7rem;
  top: -7rem;
  background: url("../../assets/images/bg-section-top-mobile-2.svg") no-repeat left top;
  background-size: 100% 100%;
}
@media only screen and (min-width: 1024px) {
  section.users::before {
    background: url("../../assets/images/bg-section-top-desktop-2.svg") no-repeat left top;
    background-size: 100% 100%;
  }
}
section.users::after {
  height: 8rem;
  bottom: -7rem;
  background: url("../../assets/images/bg-section-bottom-mobile-2.svg") no-repeat left bottom;
  background-size: 100% 100%;
}
@media only screen and (min-width: 1024px) {
  section.users::after {
    background: url("../../assets/images/bg-section-bottom-desktop-1.svg") no-repeat left top;
    background-size: 100% 100%;
  }
}
section.users .users-content {
  padding: 21rem 2.4rem 7rem;
  background: url("../../assets/images/illustration-your-users.svg") no-repeat center 1rem;
  background-size: 20rem;
}
@media only screen and (min-width: 1024px) {
  section.users .users-content {
    padding: 9rem 4rem;
    background-position: right 4rem center;
    background-size: 25rem;
    max-width: 64rem;
    margin: 0 auto;
  }
  section.users .users-content h2 {
    text-align: left;
  }
  section.users .users-content p {
    display: inline-block;
  }
}
@media only screen and (min-width: 1440px) {
  section.users .users-content {
    max-width: 70rem;
    background-size: 28rem;
  }
}

footer {
  margin: 8rem auto 0;
  padding: 4rem 2.4rem 3rem;
  background-color: #00252e;
  color: white;
  position: relative;
}
@media only screen and (min-width: 1024px) {
  footer {
    padding: 8rem 4rem 5rem;
  }
}
footer::before {
  height: 4rem;
  top: -3.5rem;
  background: url("../../../assets/images/bg-footer-top-mobile.svg") no-repeat;
  background-size: 100% 100%;
}
@media only screen and (min-width: 768px) {
  footer::before {
    height: 6rem;
    top: -5.5rem;
  }
}
@media only screen and (min-width: 1024px) {
  footer::before {
    height: 8rem;
    top: -7.5rem;
    background: url("../../../assets/images/bg-footer-top-desktop.svg") no-repeat;
    background-size: 100% 100%;
  }
}

.footer-content {
  max-width: 30rem;
  margin: 0 auto;
}
.footer-content p {
  margin-bottom: 2.5rem;
  line-height: 1.6rem;
}
@media only screen and (min-width: 1024px) {
  .footer-content {
    max-width: 64rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1440px) {
  .footer-content {
    max-width: 75rem;
  }
}

.form {
  margin-bottom: 6rem;
}
@media only screen and (min-width: 1024px) {
  .form {
    flex-basis: 42%;
  }
}
@media only screen and (min-width: 1440px) {
  .form {
    flex-basis: 45%;
  }
}
.form > span {
  display: block;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
}
@media only screen and (min-width: 1440px) {
  .form > p {
    max-width: 70%;
  }
}
.form form {
  position: relative;
}
@media only screen and (min-width: 1024px) {
  .form form {
    display: flex;
    align-items: center;
  }
}
.form form input {
  border: 0.125rem solid #00252e;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  line-height: 3.2rem;
  border-radius: 0.3rem;
  padding: 0 1rem;
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 1.1rem;
}
.form form input + span {
  opacity: 0;
  color: #ff4242;
  font-size: 0.75rem;
  position: absolute;
  top: 3.6rem;
  left: 0.1rem;
}
.form form input:invalid {
  outline: none;
  border: 0.1rem solid #ff4242;
}
.form form input:invalid + span {
  opacity: 1;
}
.form form input::-moz-placeholder {
  font-weight: 600;
  color: rgba(0, 37, 46, 0.4);
}
.form form input:-ms-input-placeholder {
  font-weight: 600;
  color: rgba(0, 37, 46, 0.4);
}
.form form input::placeholder {
  font-weight: 600;
  color: rgba(0, 37, 46, 0.4);
}
@media only screen and (min-width: 1024px) {
  .form form input {
    margin: 0;
    flex-basis: 70%;
  }
}
.form form button {
  background-color: #ff52bf;
  color: white;
  width: 10rem;
  line-height: 3.2rem;
  border-radius: 0.3rem;
  font-size: 1.1rem;
  font-weight: 600;
}
.form form button:hover {
  background-color: #ff8fd8;
}
@media only screen and (min-width: 1024px) {
  .form form button {
    flex-basis: 30%;
    margin-left: 1rem;
  }
}
@media only screen and (min-width: 1440px) {
  .form form button {
    margin-left: 2rem;
  }
}

@media only screen and (min-width: 1024px) {
  .contact-information {
    flex-basis: 40%;
    max-width: 22rem;
  }
}
.contact-information__logo-wrapper {
  display: block;
  width: 14rem;
  margin-bottom: 1rem;
}
.contact-information__logo-wrapper:focus-visible {
  outline: 0.1rem dashed white;
}
.contact-information__logo-wrapper img {
  width: 100%;
}
.contact-information .attribution a {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-style: italic;
  position: relative;
}
.contact-information .attribution a::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background-color: white;
  transform-origin: left;
  transition: transform 500ms;
  transform: scaleX(0);
}
.contact-information .attribution a:hover, .contact-information .attribution a:focus-visible {
  outline: none;
}
.contact-information .attribution a:hover::after, .contact-information .attribution a:focus-visible::after {
  transform: scaleX(1);
}
.contact-information .phone, .contact-information .email {
  display: flex;
  align-items: center;
  margin-bottom: 1.4rem;
}
.contact-information .phone img, .contact-information .email img {
  width: 1.4rem;
  margin-right: 1.4rem;
}
.contact-information .social-media {
  margin-top: 3rem;
  font-size: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.contact-information .social-media a {
  display: inline-block;
  text-decoration: none;
  color: white;
  line-height: 2rem;
  margin-right: 1rem;
}
.contact-information .social-media a:hover, .contact-information .social-media a:focus-visible {
  outline: none;
}
.contact-information .social-media a:hover .fab, .contact-information .social-media a:focus-visible .fab {
  color: #02c7f6;
}
.contact-information .social-media a .fab {
  line-height: 2rem;
  transition: color 400ms;
}

.button--get-started {
  background-color: #ff52bf;
  color: white;
  width: 14rem;
  height: 2.8rem;
  border-radius: 1.4rem;
  font-weight: 600;
  box-shadow: 0 0.3rem 0.3rem rgba(0, 37, 46, 0.15);
  display: block;
  margin: 0 auto;
}
.button--get-started:hover, .button--get-started:focus-visible {
  outline: none;
  background-color: #ff8fd8;
}
.button--get-started:active {
  transform: translateY(0.1rem);
  background-color: #ff52bf;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 37, 46, 0.35);
}
@media only screen and (min-width: 768px) {
  .button--get-started {
    width: 16rem;
    height: 3.2rem;
    border-radius: 1.6rem;
  }
}