@use '../abstracts/placeholders';
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

header {
  padding: 2.5rem 2rem 8rem;
  display: flex;
  justify-content: center;

  @include media(tablet) { padding: 4rem 4rem 8rem; }

  > div {
    width: 100%;
    max-width: 40rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media(tablet) {  max-width: 50rem; }
    @include media(desktop) {  max-width: 64rem; }
    @include media(widescreen) {  max-width: 70rem; }
  }

  .logo-wrapper {
    width: 8rem;

    &:focus-visible {
      outline: 0.1rem dashed $very-dark-cyan;
    }

    img { width: 100%; }

    @include media(tablet) {
      width: 10rem;
    }
  }

  button {
    @extend %button;
    width: 7rem;
    background-color: transparent;
    border: 0.05rem solid $button-bg;
    color: $button-bg;
    height: 2rem;
    border-radius: 1rem;

    &:hover, &:focus-visible {
      outline: none;
      background-color: $button-bg;
      color: white;
    }

    @include media(desktop) {
      width: 8rem;
      height: 2.2rem;
      border-radius: 1.1rem;
    }
  }
}